body {
  background-color: #9cd3d3;
  margin: 0px;
}

h1 {
  font-family: "Lobster", cursive;
  color: #e8630a;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 110%;
  color: white;
  margin: 5px;
  padding-bottom: 3px;
}

button {
  color: #e8630a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: lightgray;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

p {
  color: white;
  width: 55%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-right: 10%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
  width: 85%;
  overflow: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  align-items: center;
  height: 5%;
  margin: 10px;
  width: 550px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  text-align: center;
  color: lightgray;
}

input {
  margin: 3px;
  border-radius: 10px;
  border: none;
  height: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: darkgray;
  border: solid;
  border-color: #2b4353;
  border-width: 1px;
}

img {
  height: 80%;
}

/*///////////****** ID STYLING ******** //////////////*/
#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 10px;
}

#title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 10px;
}

#edit-form {
  display: flex;
  justify-content: center;
  margin: 25px;
  width: 40em;
}

#my-list-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#side-panel-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#side-panel-div p {
  margin-right: 0px;
}

#purchased-list {
  margin-top: 7%;
}

#purchased-btn {
  right: 2%;
}

#back-btn {
  left: 2%;
}

#recent-dlt-btn {
  right: 2%;
}

#input-description {
  width: 15%;
}

#input-url {
  width: 30%;
}

#add-btn {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: #e8630a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 5em;
  height: 1.75rem;
  border-radius: 10px;
  border: none;
  margin-top: 35px;
  width: 10%;
}

#edit-description {
  width: 35%;
}

#edit-url {
  width: 75%;
}

#edit-btn {
  background-color: #e8630a;
  color: white;
}

#edit-btn:hover {
  background-color: #ce4500;
}

#edit-btn:active {
  background-color: #ce4500;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#del-message {
  width: 100%;
}

#del-btn {
  background-color: #e8630a;
  color: white;
}

#del-btn:hover {
  background-color: #ce4500;
}

#del-btn:active {
  background-color: #ce4500;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#loading {
  height: 50px;
  width: 50px;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
  width: 65%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#preview {
  height: 80%;
  width: 95%;
  background-color: white;
  border-radius: 20px;
}

#url-title {
  color: #2b4353;
  text-align: left;
}

#error-div {
  display: flex;
  justify-content: center;
  align-items: center;

}
/*///////////****** CLASS STYLING ******** //////////////*/
.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b4353;
}

.list-div {
  background-color: #9cd3d3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.header-btn {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  position: fixed;
  top: 3%;
  width: 7em;
  height: 1.75rem;
}

.list-btn {
  color: #2b4353;
  font-family: "Lobster", cursive;
  font-weight: bold;
}

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 30%;
}

.image-btn {
  height: 1.75em;
  border-radius: 100%;
}

.crossed-out {
  text-decoration: line-through;
  color: gray;
}

.grayed-out {
  color: gray;
  background-color: lightgray;
}

.del-item {
  text-align: center;
  margin: 0px;
}

.wel-message {
  text-align: center;
  margin-right: 0%;
  width: 60%;
}

/*///////////****** MOBILE STYLING ******** //////////////*/

@media screen and (max-width: 480px) {
  
  p {
    font-size: small;
    width: 40%;
  }

  ul {
    height: 300px;
    width: 85%;
    overflow: scroll;
  }

  ::placeholder {
    font-size: 80%;
  }

  #side-panel-div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #my-list-div {
    width: 100%;
  }

  #my-list-title {
    margin: 0px;
  }

  #input-description {
    width: 45%;
  }

  #input-url {
    width: 75%;
  }

  #add-btn {
    width: 30%;
  }

  #preview {
    margin-top: 20px;
    height: 200px;
  }

  #edit-btn {
    width: 5em;
  }

  .wel-title {
    margin-bottom: 0px;
  }

  .wel-message {
    width: 80%;
  }

  .list-btn {
    width: 15%;
  }

  .header-btn {
    font-size: 0.7rem;
  }

  .btn-selection {
    margin-bottom: 5%;
  }
  
}

@media screen and (max-width: 912px) {
  p {
    text-align: center;
    margin-right: 0px;
  }

  li {
    justify-content: center;
    height: 15%;
    width: 100%;
    margin: 0px;
  }

  #list-div {
    flex-direction: column;
  }

  #input-description {
    width: 45%;
  }

  #input-url {
    width: 75%;
  }

  #side-panel-div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #my-list {
    padding: 0px;
  }

  #edit-url {
    width: 50%;
  }

  .del-item {
    font-size: large;
    text-align: center;
  }

  #img-div {
    margin-top: 20px;
    height: 50%;
    width: auto;
  }

  .list-div {
    flex-direction: column;
  }

  .btn-selection {
    margin-bottom: 5%;
  }
}